# Sample gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `gitconfig`
[user]
    name = Charles-Axel Dein
    email = yourname@example.com
[color]
    ui = true

[alias]
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    co = checkout
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    c = !git add . && git commit -a && git push
    recommit = !git add . && git commit --amend
    go = checkout -B
    d = diff
    s = status
    br = branch

[core]
    excludesfile = ~/.gitignore
    quotepath = false
    editor = vim

[merge "pofile"]
    name = Gettext merge driver
    driver = git merge-po %O %A %B

[url "git@github.com:/"]
    insteadOf = "gh:/"

[push]
    default = upstream
